* {
    margin: 0;
    padding: 0;
}

/* header section   */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(120, 120, 120);
    padding: 10px;
}

.nav-ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-style: italic;
}

/* main section   */

.banner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.h1-title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.Digital{
    color: red;
}

.banner-p{
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.banner-btn{
    display: flex;
    gap: 10px;
}

.btn{
    border: none;
    padding: 15px;
}

.btn-red{
    background: red;
    color: white;
}